
.body{ background-color:  aliceblue;}

.formulaire{ margin-top: 80px; margin-left: 160px;}

.bouton{ border-radius:  15px; width: 60px; text-align:  center;}

.panelInfosSalarie{
    
       border-radius: 10px;
       width: 930px;
       border: solid deepskyblue; 
       background-color:  beige;       
}


.ui-panelgrid td, .ui-panelgrid tr
{
    background-color: ghostwhite;
    /*border-style: none !important */
}


.panelGridSaisieNumsal{
    
       width: 880px;   
       border: hidden; 
       text-align:  center;
}

.panelTableau {
    
       margin-top: 10px;
       background-color:  beige;
       border-radius: 10px;
       width: 930px;
       border: solid deepskyblue;            
}

.tableau {
     
       background-color: silver;
       width: 900px;
       border: solid  darkgrey;            
}

.colDevis     {width: 20%; ;text-align: right;}
