<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Liste des Projets d'un Salarié </title>
        <h:outputStylesheet library="css" name="stylesExos.css"/>  
    </h:head>
  
    <h:body styleClass="body">
        
        <h:form styleClass="formulaire">
        
         <p:panel    styleClass="panelInfosSalarie" >     
                      
           <p:panelGrid  id="pg" columns="1"  styleClass="panelGridInfosSalarie">
            
            <p:messages id="messages"    showDetail="true"  closable="true"  showSummary="false"/>
           
            <p:panelGrid  id="pgSaisie" columns="3"  styleClass="panelGridSaisieNumsal" >
             
               <p:outputLabel value="N° du Salarié" for="numSal"  />
               <p:inputText   id="numSal" value="#{controleur.numsal}" title="Saisir le Numéro du Salarié" 
                              required="true" requiredMessage="Vous devez saisir un Numéro de Salarié" > 
         
                  <f:event type="preValidate" listener="#{controleur.razInfosDuFormulaire()}" />    
               
               </p:inputText>   
        
               <p:commandButton id="bt"   update="pg pgTableau" action="#{controleur.rechercheSalarie()}"
                                styleClass="bouton" icon="ui-icon-refresh"/>         
           
             </p:panelGrid>
           
            <h:outputText  value="#{controleur.unSalarie.nom}"  />
            <h:outputText  value="#{controleur.unSalarie.prenom}" />
            <h:outputText  value="#{controleur.unSalarie.lePole.codePole}"/>
            <h:outputText  value="#{controleur.unSalarie.lePole.nomPole}"/>
        
            <h:outputText  value="#{controleur.unSalarie.sexe}"/>
                  
            <h:outputText  value="#{controleur.unSalarie.dateNaiss}"  >
              <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>
            </h:outputText>  
              
            <h:outputText  value="#{controleur.unSalarie.salaire}"> 
             <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2" />
            </h:outputText>  
               
           </p:panelGrid>   
        
         </p:panel>         
     
        <p:panel id="pgTableau" styleClass="panelTableau">
            
            <p:dataTable  id="tableau" value="#{controleur.unSalarie.lesAffectations}" var="aff" emptyMessage=""  styleClass="tableau">
            
                <p:column headerText="Code"> #{aff.leProjet.codeProj}</p:column>
            
                <p:column headerText="Description"> #{aff.leProjet.descProj}</p:column>
                
                <p:column headerText="Devis" styleClass="colDevis">
                    
                    <h:outputText value="#{aff.leProjet.montantDevis}" > 
                        <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"  />
                    </h:outputText> 
                </p:column>
                
                <p:column  headerText="Client"> #{aff.leProjet.leClient.nomcli}</p:column>
                
                <p:column headerText="Affecté Le">  
                    <h:outputText value="#{aff.dateaff}"  >
                        <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>
                    </h:outputText> 
                </p:column>
                
                <p:column headerText="Rôle"> #{aff.pilote?'Pilote':'Equipier'}</p:column>
            
            </p:dataTable>
            
        </p:panel>
     
       </h:form>  
    
    </h:body>
</html>

